<div class="modal-header">
    <h3 class="modal-title">{{ 'platform.blades.thumbnail.blades.dialogs.task-run.title' | translate }}</h3>
</div>
<div class="modal-body">
    <p class="text">{{ 'platform.blades.thumbnail.blades.dialogs.task-run.msg1' | translate }}</p>
    <div class="form-group">
        <ul>
            <li>{{ 'platform.blades.thumbnail.blades.dialogs.task-run.msg2' | translate }}</li>
            <li>{{ 'platform.blades.thumbnail.blades.dialogs.task-run.msg3' | translate }}</li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="no()">{{ 'platform.blades.thumbnail.blades.dialogs.task-run.btn-changes' | translate }}</button>
    <button class="btn" ng-click="yes()">{{ 'platform.blades.thumbnail.blades.dialogs.task-run.btn-regenerate' | translate}}</button>
    <button class="btn" ng-click="cancel()">{{ 'platform.commands.cancel' | translate }}</button>
</div>
