<div class="header__nav-item" ng-class="{'header__nav-item--opened': noticeOpened}" notificationWidget>
    <span class="header__nav-ico header__nav-ico--notice" ng-click="toggleNotice()"></span>
    <!-- <span class="header__nav-ico header__nav-ico--notice-give" ng-click="toggleNotice()"></span> -->
    <div class="dropdown-menu">
        <!-- <div class="notice">
            <div class="notice__bg"></div>
            <div class="notice__t">Nothing to see here</div>
            <div class="notice__descr">When an event happens, you will see it here</div>
            <a href="#" class="btn btn--orange" ng-click="close()">Close</a>
        </div> -->
        <div class="notice-list">
            <div class="notice-list__item">
                <div class="notice-list__date">1 minute</div>
                <div class="notice-list__name">Indexation process</div>
                <div class="notice-list__descr">Member indexation completed. Totla: 1</div>
                <div class="notice-list__errors">Errors 0</div>
            </div>
            <div class="notice-list__item">
                <div class="notice-list__date">3 month ago</div>
                <div class="notice-list__name">Indexation process</div>
                <div class="notice-list__descr">Member indexation completed. Totla: 1</div>
                <div class="notice-list__errors">Errors 0</div>
            </div>
            <a href="#" class="btn btn--orange">View all notifications</a>
        </div>
    </div>
</div>