<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/create.tpl.html'" ng-if="blade.isNew"></div>
<div class="blade-content __tree">
    <div class="blade-inner">
        <div class="inner-block">
            <form name="formScope" class="form">
                <fieldset ng-disabled="blade.isLocked">
                    <div ng-init="setForm(formScope)">
                        <label class="form-label">{{ 'licensing.blades.license-detail.labels.customer-name' | translate }}</label>
                        <div class="form-input">
                            <input ng-model="blade.currentEntity.customerName" required placeholder="{{ 'licensing.blades.license-detail.placeholders.customer-name' | translate }}" focus-on>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">{{ 'licensing.blades.license-detail.labels.customer-email' | translate }}</label>
                        <div class="form-input">
                            <input ng-model="blade.currentEntity.customerEmail" type="email" required placeholder="{{ 'licensing.blades.license-detail.placeholders.customer-email' | translate }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">{{ 'licensing.blades.license-detail.labels.type' | translate }} <a href="" ng-click="openDictionarySettingManagement()" class="form-edit" va-permission="platform:setting:update"><i class="form-ico fa fa-pencil"></i></a></label>
                        <div class="form-input">
                            <ui-select ng-model="blade.currentEntity.type" required>
                                <ui-select-match placeholder="{{'licensing.blades.license-detail.placeholders.type' | translate}}">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="x in types | filter: $select.search">
                                    <span ng-bind-html="x | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">{{ 'licensing.blades.license-detail.labels.expiration-date' | translate }}</label>
                        <div class="form-input __calendar">
                            <input ng-model="blade.currentEntity.expirationDate" required
                                   datepicker-popup min-date="today"
                                   is-open="datepickers.exp" name="exp"
                                   placeholder="{{ 'licensing.blades.license-detail.placeholders.expiration-date' | translate}}"
                                   close-text="Close">
                            <button ng-click="open($event, 'exp')" type="button" class="btn">
                                <i class="btn-ico fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">{{ 'licensing.blades.license-detail.labels.activation-code' | translate }}</label>
                        <div class="form-input">
                            <input ng-model="blade.currentEntity.activationCode" placeholder="{{ 'licensing.blades.license-detail.placeholders.activation-code' | translate }}">
                        </div>
                    </div>
                </fieldset>
            </form>
            <va-widget-container group="licenseDetail" blade="blade" gridster-opts="{columns: 2}" ng-disabled="blade.isLocked"></va-widget-container>
        </div>
    </div>
</div>