<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="order-status" ng-if="blade.currentEntity.status">
                <div class="status" ng-bind="blade.currentEntity | statusTranslate"></div>
                <div class="reason" ng-bind="blade.currentEntity.cancelReason" ng-if="blade.currentEntity.isCancelled"></div>
            </div>
            <form name="formScope" ng-controller="virtoCommerce.orderModule.customerOrderDetailController">
                <fieldset ng-disabled="blade.isLocked">
                    <va-metaform registered-inputs="blade.metaFields" blade="blade" column-count="2" ng-init="setForm(formScope)"></va-metaform>
                </fieldset>
            </form>

            <va-widget-container group="customerOrderDetailWidgets" blade="blade" gridster-opts="{columns: 4}" ng-disabled="blade.isLocked"></va-widget-container>
        </div>
    </div>
</div>

<script type="text/ng-template" id="createdDate.html">
    <div class="form-input __calendar">
        <input ng-model="blade.customerOrder.createdDate"
               datepicker-popup="medium"
               disabled="disabled">
        <button type="button" class="btn" disabled="disabled">
            <i class="btn-ico fa fa-calendar"></i>
        </button>
    </div>
</script>

<script type="text/ng-template" id="order-employeeSelector.html">
    <div class="form-input">
        <ui-select ng-model="blade.customerOrder.employeeId" ng-change="blade.customerOrder.employeeName = $select.selected ? $select.selected.fullName : undefined" ng-disabled="blade.isLocked">
            <ui-select-match allow-clear placeholder="{{ 'orders.blades.customerOrder-detail.placeholders.employee' | translate }}">{{$select.selected.fullName}}</ui-select-match>
            <ui-select-choices repeat="x.id as x in blade.employees | filter: { fullName: $select.search }">
                <span ng-bind-html="x.fullName | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </div>
</script>

<script type="text/ng-template" id="statusSelector.html">
    <label class="form-label">
        {{ 'orders.blades.customerOrder-detail.labels.status' | translate }}
        <a href="" ng-click="blade.openStatusSettingManagement()" class="form-edit"><i class="form-ico fa fa-pencil"></i></a>
    </label>
    <div class="form-input">
        <ui-select ng-model="blade.currentEntity.status" ng-disabled="blade.isLocked">
            <ui-select-match placeholder="{{ 'orders.blades.customerOrder-detail.placeholders.status' | translate }}">{{$select.selected.value}}</ui-select-match>
            <ui-select-choices repeat="x.key as x in blade.statuses | filter: {'value': $select.search}">
                <span ng-bind-html="x.value | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </div>
</script>

<script type="text/ng-template" id="customerSelector.html">
    <div class="form-input">
        <label class="form-label" style="height:27px;">
            <a href="" ng-click="blade.openCustomerDetails()">{{ blade.currentEntity.customerName }}</a>
        </label>
    </div>
</script>

<script type="text/ng-template" id="discountAmount.html">
    <div class="form-input __currency">
        <span class="currency">{{blade.currentEntity.currency}}</span>
        <input money mask-money="!blade.isVisiblePrices" required ng-model="blade.currentEntity.discountAmount" ng-model-options="{ updateOn: 'blur' }" ng-change="blade.recalculate()" id="discountAmount" focus-on="discountAmount">
    </div>
</script>
<script type="text/ng-template" id="discountAmountWithTax.html">
    <div class="form-input __currency">
        <span class="currency">{{blade.currentEntity.currency}}</span>
        <input money mask-money="!blade.isVisiblePrices" required ng-model="blade.currentEntity.discountAmountWithTax" ng-model-options="{ updateOn: 'blur' }" ng-change="blade.recalculate()" id="discountAmountWithTax" focus-on="discountAmountWithTax">
    </div>
</script>

<script type="text/ng-template" id="storeSelector.html">
    <div class="form-input">
        <ui-select ng-model="blade.currentEntity.storeId" ng-disabled="blade.isLocked">
            <ui-select-match placeholder="{{ 'orders.blades.customerOrder-detail.placeholders.store' | translate }}">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="store.id as store in blade.stores | filter: { name: $select.search }">
                <span ng-bind-html="store.name | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </div>
</script>
