<div class="blade-static __bottom" ng-include="'Modules/$(VirtoCommerce.Catalog)/Scripts/blades/common/templates/ok-cancel.tpl.html'"></div>
<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block" ng-init="setGridOptions({
                data: 'blade.currentEntities',
                rowTemplate: 'asset-list.row.html',
                rowHeight: 60,
                columnDefs: [
                        { name: 'actions', displayName: '', enableColumnResizing: false, enableSorting: false, width: 30, cellTemplate: 'asset-list-actions.cell.html', pinnedLeft:true },
                        {
                            name: 'mimeType', displayName: 'catalog.blades.item-asset-detail.labels.type',
                            enableColumnResizing: false, enableSorting: false, width: 60,
                            cellTemplate: 'assets-icon.cell.html', enableCellEdit: false
                        },
                        { name: 'name', displayName: 'platform.blades.asset-list.labels.name', width: 170  },
                        { name: 'size', displayName: 'platform.blades.asset-list.labels.size', cellTemplate: 'asset-list-size.cell.html' }
                ],
                enablePaginationControls: false
                 })">
            <div class="table-wrapper" ng-if="blade.currentEntities.length">
                <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-save-state ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-pagination ui-grid-height></div>
                <ul class="menu __context" role="menu" id="itemast_menu">
                    <li class="menu-item" ng-click="downloadUrl(contextMenuEntity)">
                        <i class="menu-ico fa fa-download"></i> {{'platform.commands.download' | translate}}
                    </li>
                    <li class="menu-item" ng-click="copyUrl(contextMenuEntity)">
                        <i class="menu-ico fa fa-link"></i> {{'platform.commands.copy-link' | translate}}
                    </li>
                    <li class="menu-item" ng-click='removeItem(contextMenuEntity)' va-permission="platform:asset:delete">
                        <i class="menu-ico fa fa-trash-o"></i> {{'platform.commands.delete' | translate}}
                    </li>
                </ul>
            </div>
            <div class="note" ng-if="!blade.currentEntities.length">{{ 'platform.list.no-data' | translate }}</div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="asset-list.row.html">
    <div ng-click='grid.appScope.selectNode(row.entity)' ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid" ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'" class="ui-grid-cell" ng-class="{'ui-grid-row-header-cell': col.isRowHeader, '__hovered': grid.appScope.contextMenuEntity === row.entity, '__selected': grid.appScope.blade.selectedNodeId === row.entity.url}" role="{{col.isRowHeader ? 'rowheader' : 'gridcell' }}" ui-grid-cell style="{{'cursor: ' + ((col.name==='actions' || row.entity.type==='folder' || row.entity.isOpenable) ? 'pointer' : 'default')}}" context-menu="grid.appScope.contextMenuEntity = row.entity" data-target="itemast_menu"></div>
</script>

<script type="text/ng-template" id="assets-icon.cell.html">
    <div class="ui-grid-cell-contents">
        <div class="product-img">
            <i class="table-ico fa {{COL_FIELD == 'image/png' || COL_FIELD == 'image/jpeg' ? 'fa-image' : 'fa-file-text'}}"></i>
        </div>
    </div>
</script>

<script type="text/ng-template" id="asset-list-actions.cell.html">
    <div class="ui-grid-actions" left-click-menu="grid.appScope.contextMenuEntity = row.entity" data-target="itemast_menu">
        <i class="fa fa-ellipsis-v"></i>
    </div>
</script>

<script type="text/ng-template" id="asset-list-size.cell.html">
    <div class="ui-grid-cell-contents">
        {{ COL_FIELD | readablesize }}
    </div>
</script>