<div class="header__info">
    <div class="license" ng-if="!license">
        <div class="license__text">
            {{'platform.templates.licensing.community' | translate}}
        </div>
        <button class="btn btn--orange"
            ng-click="showLicense()">{{'platform.templates.licensing.purchase' | translate}}</button>
    </div>

    <div class="license" ng-if="license && license.hasExpired">
        <div class="license__text license__expired">
            {{'platform.templates.licensing.expired' | translate: license}}
        </div>
        <button class="btn btn--orange"
            ng-click="showLicense()">{{'platform.templates.licensing.renew' | translate}}</button>
    </div>

    <div class="license" ng-if="license && !license.hasExpired" ng-click="showLicense()">
        <div class="license__text">
            {{'platform.templates.licensing.license-present' | translate: license}}
        </div>
    </div>

    <!-- <a class="info-license" ng-if="license" href="" ng-click="showLicense()"
            ng-class="{'__valid': !license.hasExpired}">{{'platform.templates.licensing.license-present' | translate: license}}</a>

        <div class="license__text">{{'platform.templates.licensing.community' | translate}}
        </div>




        <li class="list-item">
            <div class="list-t">{{'platform.blades.license.labels.type' | translate}}</div>
            <div class="list-descr">{{license.type}}</div>
        </li>
        <li class="list-item">
            <div class="list-t">{{'platform.blades.license.labels.expiration' | translate}}</div>
            <div class="list-descr">{{license.expirationDate | amParse | date}}</div>
        </li> -->


    <!-- <div class="license__text">{{'platform.templates.licensing.community' | translate}}
        </div>
        <button class="btn btn--orange"
            ng-click="showLicense()">{{'platform.templates.licensing.purchase' | translate}}</button> -->
</div>
