<div class="blade-static __bottom">
    <button class="btn" ng-click="startExport()" ng-disabled="blade.notification">
        <span>{{ 'platform.blades.export-main.labels.start-export' | translate }}</span>
    </button>
</div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" name="exportForm" ng-if="!blade.notification">
                <div class="column">
                    <div class="form-group">
                        <label class="form-label">{{ 'export.blades.export-settings.labels.template' | translate }}</label>
                        <div class="form-input">
                            <ui-select ng-model="blade.template" required>
                                <ui-select-match placeholder="{{ 'stores.blades.store-detail.placeholders.state' | translate }}">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="x in (blade.templates | filter: {name: $select.search})">
                                    <span ng-bind-html="x.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <label class="form-label">{{ 'export.blades.export-settings.labels.provider' | translate }}</label>
                        <div class="form-input">
                            <ui-select ng-model="selectedProvider" required>
                                <ui-select-match placeholder="{{ 'stores.blades.store-detail.placeholders.state' | translate }}">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="x in (providers | filter: {name: $select.search})">
                                    <span ng-bind-html="x.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
