<div class="blade-static __expanded">
    <va-breadcrumb ng-model="blade.breadcrumbs" blade-id="blade.id"></va-breadcrumb>
    <div class="form-group">
        <div class="form-input __search">
            <input placeholder="{{ 'platform.placeholders.search-keyword' | translate }}" ng-model="blade.searchText">
            <button class="btn __other" style="position: relative;right: 45px;">
                <i class="btn-ico fa fa-remove" title="Clear" ng-click="blade.searchText=''"></i>
            </button>
        </div>
    </div>
</div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block clearfix">
            <ul class="list __items">
                <li class="list-item" ng-repeat="data in blade.allGroups | filter:blade.searchText | orderBy: 'localizedName' track by $index" ng-class="{'__selected': data.groupName === selectedNodeId}" ng-click='selectNode(data)' ng-if="blade.searchText">
                    <span class="list-t">{{data.localizedName}}</span>
                    <span class="list-descr" ng-if="data.localizedGroupName">{{data.localizedGroupName}}</span>
                    <span class="list-descr" ng-if="data.localizedDescription">{{data.localizedDescription}}</span>
                </li>
                <li class="list-item" ng-repeat="data in blade.currentEntities | orderBy: 'localizedName' track by data.groupName" ng-class="{'__selected': data.groupName === selectedNodeId}" ng-click='selectNode(data)' ng-if="!blade.searchText">
                    <span class="list-t">{{data.localizedName}}</span>
                    <span class="list-descr" ng-if="data.localizedDescription">{{data.localizedDescription}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
