.head-label {
    font-size: 17px;
    margin-bottom: 15px;
}

.head-select {
    width: calc(100% - 120px);
}

button.btn.add-price-button {
    background: #43b0e6;
    color: #fff;
    height: 30px;
    line-height: 28px;
    padding: 0 10px;
}

    button.btn.add-price-button:hover {
        background: #43b0e6;
    }