<div class="blade-content __medium-wide">
	<div class="blade-inner">
		<div class="inner-block">
			<div class="t __divider">{{ 'notifications.blades.notification-journal-details.labels.notification-info' | translate }}</div>
			<ul class="list __info">
                <li class="list-item">
					<div class="list-t">{{ 'notifications.blades.notification-journal-details.labels.id' | translate }}</div>
					<div class="list-descr">
						{{blade.currentEntity.id}}
					</div>
				</li>
                <li class="list-item" ng-if="!angular.isUndefined(blade.currentEntity.startSendingDate)">
					<div class="list-t">{{ 'notifications.blades.notification-journal-details.labels.created' | translate }}</div>
					<div class="list-descr">
						{{blade.currentEntity.startSendingDate | amParse | date:'medium'}}
					</div>
				</li>
                <li class="list-item">
					<div class="list-t">{{ 'notifications.blades.notification-journal-details.labels.sender' | translate }}</div>
					<div class="list-descr">
						{{blade.currentEntity.sender}}
					</div>
				</li>
				<li class="list-item">
					<div class="list-t">{{ 'notifications.blades.notification-journal-details.labels.recipient' | translate }}</div>
					<div class="list-descr">
						{{blade.currentEntity.recipient}}
					</div>
				</li>
                <li class="list-item" ng-if="blade.currentEntity.attemptCount > 0 && !blade.currentEntity.isSuccessSend">
					<div class="list-t">{{ 'notifications.blades.notification-journal-details.labels.last-fail-attempt-message' | translate }}</div>
					<div class="list-descr">
						{{blade.currentEntity.lastFailAttemptMessage}}
					</div>
				</li>
				<li class="list-item">
					<div class="list-t">{{ 'notifications.blades.notification-journal-details.labels.subject' | translate }}</div>
					<div class="list-descr">
						{{blade.currentEntity.subject}}
					</div>
				</li>
				<li class="list-item">
					<div class="list-t">{{ 'notifications.blades.notification-journal-details.labels.body' | translate }}</div>
					<div class="list-descr">
						{{blade.currentEntity.body}}
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
