<div class="blade-content ">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="table-wrapper">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-col">{{ 'platform.blades.notification-templates-list.labels.language' | translate }}</th>
                            <th class="table-col">{{ 'platform.blades.notification-templates-list.labels.created' | translate }}</th>
                            <th class="table-col">{{ 'platform.blades.notification-templates-list.labels.modified' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-item" ng-repeat="data in blade.currentEntities" ng-click="blade.openTemplate(data)" ng-class="{ '__selected': blade.selectedLanguage === data.language }">
                            <td class="table-col">
                                {{data.language}}
                            </td>
                            <td class="table-col">
                                {{data.created}}
                            </td>
                            <td class="table-col">
                                {{data.modified}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
