<div class="modal-header">
    <h3 class="modal-title">{{ 'pricing.dialogs.assignments-delete-all.title' | translate }}</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="form-error">{{ 'pricing.dialogs.assignments-delete-all.warning' | translate }}</div>
    </div>
    <p>{{ 'pricing.dialogs.assignments-delete-all.message' | translate }}</p>
    <ul>
        <li ng-if="itemCount>0">{{'pricing.dialogs.assignments-delete-all.item' | translate:{ count: (itemCount  | number:0) } }}</li>
    </ul>
    {{ 'pricing.dialogs.assignments-delete-all.instruction' | translate }}
    <div class="form-input __mini">
        <input ng-model="enteredText" ng-keyup="$event.which === 13 && 'yes' === enteredText && yes()" />
    </div>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="yes()" ng-class="{'__disabled': 'yes'!==enteredText}">{{ 'platform.commands.confirm' | translate }}</button>
    <button class="btn" ng-click="cancel()">{{ 'platform.commands.cancel' | translate }}</button>
</div>
