<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/create.tpl.html'" ng-if="blade.isNew"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block clearfix" ng-controller="virtoCommerce.customerSampleModule.supplierDetailController">
            <form class="form" name="detailForm">
                <div ng-init="setForm(detailForm)">
                    <label class="form-label">supplier name</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.name" focus-on="" required placeholder="enter supplier name" />
                    </div>
                </div>

                <va-metaform registered-inputs="blade.metaFields" blade="blade"></va-metaform>

            </form>
        </div>
    </div>
</div>