<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/create.tpl.html'" ng-if="blade.isNew"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block clearfix" ng-controller="virtoCommerce.customerModule.organizationDetailController">
            <form class="form" name="detailForm">
                <fieldset>
                    <div ng-init="setForm(detailForm)">
                        <label class="form-label">{{'customer.blades.organization-detail.labels.name' | translate}}</label>
                        <div class="form-input">
                            <input ng-model="blade.currentEntity.name" focus-on="" required placeholder="{{'customer.blades.organization-detail.placeholders.name' | translate}}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">{{'customer.blades.contact-detail.labels.groups' | translate}}  <a href="" ng-click="openGroupsDictionarySettingManagement()" class="form-edit" va-permission="platform:setting:update"><i class="form-ico fa fa-pencil"></i></a></label>
                        <div class="form-input" data-role="input-control">
                            <ui-select multiple ng-model="blade.currentEntity.groups">
                                <ui-select-match placeholder="{{'customer.blades.contact-detail.placeholders.groups' | translate}}">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="x in groups | filter: $select.search">
                                    <span ng-bind-html="x | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <va-widget-container group="organizationDetail1" blade="blade" gridster-opts="{columns: 3}"></va-widget-container>
                    </div>
                </fieldset>
                <fieldset>
                    <va-metaform registered-inputs="blade.metaFields" blade="blade"></va-metaform>

                    <div class="form-group">
                        <label class="form-label">{{'customer.blades.organization-detail.labels.description' | translate}}</label>
                        <div class="form-input">
                            <textarea class="form-control" cols="30" rows="3" ng-model="blade.currentEntity.description" placeholder="{{'customer.blades.organization-detail.placeholders.description' | translate}}"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <va-widget-container group="organizationDetail2" blade="blade" data="blade.currentEntity" gridster-opts="{columns: 3}"></va-widget-container>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>