<form id="enterStoreUrl" name="enterStoreUrl">
    <div class="modal-header">
        <h3 class="modal-title" ng-bind="'stores.dialogs.enter-store-url.title' | translate"></h3>
    </div>
    <div class="modal-body">
        <p ng-bind="'stores.dialogs.enter-store-url.labels.enter-store-url' | translate"></p>
        <div class="form-group">
            <div class="form-input">
                <input id="secureUrl" name="secureUrl" required="required" type="url" ng-model="secureUrl" placeholder="{{ 'stores.dialogs.enter-store-url.placeholders.secure-url' | translate }}"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" ng-click="confirm()" ng-class="'__disabled: enterStoreUrl.$invalid'" ng-disabled="enterStoreUrl.$invalid" ng-bind="'platform.commands.confirm' | translate"></button>
        <button class="btn __cancel" type="button" ng-click="cancel()" ng-bind="'platform.commands.cancel' | translate"></button>
    </div>
</form>
